.cursor-trail {
   pointer-events: none;
   z-index: 100;
   position: absolute;

   width: .5rem;
   height: .5rem;

   animation: vibrate-1 1s linear infinite both;

   border-radius: .25rem;

   &_color {
      &_0 {
         background-color: #D92638;
      }
      &_1 {
         background-color: #D96D26;
      }
      &_2 {
         background-color: #D92692;
      }
   }
}
@keyframes vibrate-1 {
   0% {
      transform: translate(0);
   }
   20% {
      transform: translate(-1px, 1px);
   }
   40% {
      transform: translate(-1px, -1px);
   }
   60% {
      transform: translate(1px, 1px);
   }
   80% {
      transform: translate(1px, -1px);
   }
   100% {
      transform: translate(0);
   }
}
