.home {
   font-family: Raleway;

   position: relative;

   overflow: hidden;

   height: 100vh;

   animation: gradient 10s ease infinite;

   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   background-size: 400% 400%;

   &__content-container {
      position: absolute;
      z-index: 2;
      top: 30%;

      box-sizing: content-box;
      width: 100%;

      text-align: center;

      color: #fff;
   }

   &__title {
      font-size: 0;

      margin: 1rem 0;
   }

   &__letter {
      font-size: 3.5rem;

      display: inline-block;
      transition-duration: .1s;

      &:hover {
         color: #000;
         transition-duration: .1s;
      }

      &_animated {
         animation: jello-vertical .9s both;
      }
   }

   &__wordspace {
      font-size: 3rem;
   }


   &__begin {
      font-size: 1.5rem;

      box-sizing: content-box;
      height: 2rem;
      padding: .3rem 1rem;

      transition: all .3s ease-out;
      text-decoration: none;

      color: #fff;
      border: .125rem solid #fff;
      background-color: transparent;

      &:hover {
         transition: all .3s ease-out;

         filter: invert(100%);

         .home__begin-arrow {
            transform: rotate(0);
            polygon {
               fill: #fff;

               &.arrow-bottom {
                  transform: translateY(-1rem);
               }

               &.arrow-top {
                  transform: translateY(1rem);
               }
            }
         }
      }
   }

   &__begin-arrow {
      position: relative;
      top: .25rem;

      width: 1.5rem;
      height: 1.5rem;

      transition: all .3s ease-out;
      transform: rotate(-90deg);

      polygon {
         transition: all .3s ease-out;

         fill: #fff;

         &.arrow-middle {
            opacity: .75;
         }

         &.arrow-top {
            opacity: .5;
         }
      }
   }

   &__triangle {
      position: absolute;
      z-index: 0;

      animation: appear 10s;
   }
   &__triangle-1 {
      right: 10%;
      bottom: 0;

      padding: 10rem;
      .triangle {
         &_outer {
            width: 30rem;
         }
         &_inner {
            width: 30rem;
         }
      }
      .camera {
         &_x {
            animation-delay: 1s;
         }
         &_y {
            animation-delay: 2s;
         }
      }
   }
   &__triangle-2 {
      top: 20%;
      left: 60%;

      padding: 5rem;
      .triangle {
         &_outer {
            height: 2rem;
         }
         &_inner {
            height: 2rem;
         }
      }
      .camera {
         &_x {
            animation-delay: 3s;
         }
      }
   }
}

@keyframes gradient {
   0% {
      background-position: 0 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0 50%;
   }
}
@keyframes appear {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes jello-vertical {
   0% {
      transform: scale3d(1, 1, 1);
   }
   30% {
      transform: scale3d(.75, 1.25, 1);
   }
   40% {
      transform: scale3d(1.25, .75, 1);
   }
   50% {
      transform: scale3d(.85, 1.15, 1);
   }
   65% {
      transform: scale3d(1.05, .95, 1);
   }
   75% {
      transform: scale3d(.95, 1.05, 1);
   }
   100% {
      transform: scale3d(1, 1, 1);
   }
}