@import '../mixins';

.home {
   position: relative;

   overflow: hidden;

   height: 100vh;
   @include gradient-background();

   &__content-container {
      position: absolute;
      z-index: 2;
      top: 30%;

      box-sizing: content-box;
      width: 100%;

      text-align: center;

      color: #fff;
   }

   &__title {
      font-size: 0;

      margin: rem(16) rem(15);

      &_hidden {
         visibility: hidden;
      }
   }

   &__letter {
      font-size: rem(56);

      display: inline-block;

      transition-duration: .1s;

      &:hover {
         transition-duration: .1s;

         color: #000;
      }

      &_animated {
         animation: jello-vertical .9s both;
      }
   }

   &__wordspace {
      font-size: rem(48);
   }


   &__begin {
      font-size: 1.5rem;

      box-sizing: content-box;
      height: rem(32);
      padding: rem(5) rem(16);

      transition: all .3s ease-out;
      text-decoration: none;

      color: #fff;
      border: rem(2) solid #fff;
      background-color: transparent;

      &:hover {
         transition: all .3s ease-out;

         filter: invert(100%);

         .home__begin-arrow {
            transform: rotate(0);
            polygon {
               fill: #fff;

               &.arrow-bottom {
                  transform: translateY(rem(-16));
               }

               &.arrow-top {
                  transform: translateY(rem(16));
               }
            }
         }
      }
   }

   &__begin-arrow {
      position: relative;
      top: .25rem;

      width: rem(24);
      height: rem(24);

      transition: all .3s ease-out;
      transform: rotate(-90deg);

      polygon {
         transition: all .3s ease-out;

         fill: #fff;

         &.arrow-middle {
            opacity: .75;
         }

         &.arrow-top {
            opacity: .5;
         }
      }
   }

   &__triangle {
      position: absolute;
      z-index: 0;

      animation: appear 10s;
   }
   &__triangle-1 {
      right: 10%;
      bottom: 0;

      padding: rem(160);
      .triangle {
         &_outer {
            width: rem(480);
         }
         &_inner {
            width: rem(480);
         }
      }
      .camera {
         &_x {
            animation-delay: 1s;
         }
         &_y {
            animation-delay: 2s;
         }
      }
   }
   &__triangle-2 {
      top: 20%;
      left: 60%;

      padding: rem(80);
      .triangle {
         &_outer {
            height: rem(32);
         }
         &_inner {
            height: rem(32);
         }
      }
      .camera {
         &_x {
            animation-delay: 3s;
         }
      }
   }
}

@keyframes appear {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes jello-vertical {
   0% {
      transform: scale3d(1, 1, 1);
   }
   30% {
      transform: scale3d(.75, 1.25, 1);
   }
   40% {
      transform: scale3d(1.25, .75, 1);
   }
   50% {
      transform: scale3d(.85, 1.15, 1);
   }
   65% {
      transform: scale3d(1.05, .95, 1);
   }
   75% {
      transform: scale3d(.95, 1.05, 1);
   }
   100% {
      transform: scale3d(1, 1, 1);
   }
}


@media screen and (max-width: 400px) {
   .home__developer {
      display: block;
   }
}