@import '../mixins';

.triangle-container {
   overflow: hidden;
   display: inline-block;
   padding: rem(50);
}

.camera_x {
   animation: rotateX 5000ms linear infinite;
}

.camera_y {
   animation: rotateY 4000ms linear infinite;
}

.triangle {
   position: relative;

   display: flex;

   animation: rotate 60000ms linear infinite;

   justify-content: center;
   align-items: center;

   &_outer {
      position: absolute;

      width: rem(250);
      height: rem(240);

      &::before {
         position: absolute;

         width: 40%;
         height: 100%;

         content: '';
         animation: slide 1500ms linear infinite;
         background-color: #fff;         
      }
   }

   &_inner {
      width: rem(240);
      height: rem(240);

      transform: translateY(0.125rem);
      @include gradient-background();
   }

   .clip {
      clip-path: polygon(
      0 100%,
      100% 100%,
      50% 0,
      );
   }
}



@keyframes slide {
   0% {
      transform: translateX(-9.375rem);
   }

   100% {
      transform: translateX(18.75rem);
   }
}

@keyframes rotate {
   0% {
      transform: rotateZ(0deg);
   }

   100% {
      transform: rotateZ(360deg);
   }
}

@keyframes rotateX {
   0% {
      transform: rotateX(0deg);
   }

   100% {
      transform: rotateX(360deg);
   }
}

@keyframes rotateY {
   0% {
      transform: rotateY(0deg);
   }

   100% {
      transform: rotateY(360deg);
   }
}